{% extends "layout.html" %}
{% block content %}
  <!-- Header -->
  <section class="section_header_home">
    <div class="container">
      <div class="header_home">
        <div class="box">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
          <script>
            setTimeout(function () {
              var flashes = document.querySelectorAll(".alert");
              flashes.forEach((flash) => flash.remove());
            }, 5000);
          </script>
          <h1 style="font-size: 55px"><span class="text-logo"> Home</span></h1>
          <p style="text-align: justify">
Descubre una experiencia única donde se encuentran el lujo, la aventura y 
            el aprendizaje del español. Nuestro hotel ofrece una inmersión completa en 
            el idioma y la cultura española, diseñada para jóvenes internacionales de 
            25 a 30 años que buscan algo más que unas vacaciones convencionales. En un 
            entorno natural espectacular, disfrutarás de alojamiento de alta gama 
            combinado con actividades emocionantes, como senderismo, talleres de cocina 
            y deportes acuáticos, todo mientras practicas español con hablantes nativos.

A través de nuestra aplicación exclusiva, podrás seguir tu progreso, alcanzar logros y 
            compartir tu experiencia en redes sociales. Aquí no solo aprenderás un idioma, 
            sino que vivirás una aventura inolvidable que te conectará con nuevas personas, 
            la cultura española y contigo mismo. ¡Te esperamos para vivir esta experiencia 
            única en el corazón de España!
          </p>
          <div class="container_buttons_links_header_home">
            <div class="btn">
              <a
                href="#"
                class="btn btn-primary btn-lg mr-2"
                ,
                style="background-color: #007bff"
                >Register</a
              >
            </div>
            <div class="btn">
              <a
                href="#"
                class="btn btn-primary btn-lg mr-2"
                ,
                style="background-color: #007bff"
                >Login</a
              >
            </div>
          </div>
        </div>
        <div class="box">
          <img
            src="{{url_for('static', filename='icons/home.svg')}}"
            width="325"
            height="325"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Developers -->
  <section class="section_developers">
    <div class="container">
      <div class="developers" style="display: block">
        <h1 style="text-align: center">Our Team</h1>
        <p>
          En Horizonte Vivo, contamos con un equipo de profesionales altamente cualificados 
          en gestión de proyectos personalizados. Te acompañamos en cada etapa del proceso, 
          ofreciendo un enfoque cercano y creativo, para que disfrutes de una experiencia 
          enriquecedora que te dejará huella.
        </p>
      </div>

      <div class="developers">
        <div class="box">
          <img
            src="https://randomuser.me/api/portraits/men/10.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Ángel Fernández</h3>
          <p>
           Como uno de los promotores del proyecto, mi pasión es diseñar experiencias que 
            conecten profundamente a las personas con el destino que visitan, fusionando 
            autenticidad, emoción y descubrimiento en cada recorrido. Con una visión centrada 
            en el detalle y un compromiso con la calidad, me enfoco en crear itinerarios únicos 
            que transformen cada viaje en una aventura personal, explorando no solo los lugares, 
            sino también las historias, sabores y tradiciones que los hacen especiales.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Curriculum</a>
          </div>
        </div>
        <div class="box">
          <img
            src="https://randomuser.me/api/portraits/women/11.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Developer 2</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
            repellat omnis? Odit enim hic atque dolorem iste natus inventore
            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
            officia reiciendis ex architecto voluptates soluta ab tempore facilis
            quisquam cum.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Curriculum</a>
          </div>
        </div>
        <div class="box">
          <img
            src="https://randomuser.me/api/portraits/men/12.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Developer 3</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
            repellat omnis? Odit enim hic atque dolorem iste natus inventore
            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
            officia reiciendis ex architecto voluptates soluta ab tempore facilis
            quisquam cum.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Curriculum</a>
          </div>
        </div>
      </div>

      <div class="developers">
        <div class="box2">
          <img
            src="https://randomuser.me/api/portraits/women/12.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Developer 4</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
            repellat omnis? Odit enim hic atque dolorem iste natus inventore
            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
            officia reiciendis ex architecto voluptates soluta ab tempore facilis
            quisquam cum.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Curriculum</a>
          </div>
        </div>
        <div class="box2">
          <img
            src="https://randomuser.me/api/portraits/women/13.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Developer 5</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
            repellat omnis? Odit enim hic atque dolorem iste natus inventore
            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
            officia reiciendis ex architecto voluptates soluta ab tempore facilis
            quisquam cum.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Curriculum</a>
          </div>
        </div>
        <div class="box2"></div>
      </div>
    </div>
  </section>

{% endblock content %}

